.icon {
  -webkit-mask-size: cover;
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.icon-exit {
  mask-image: url("../icons/exit-icon.svg");
  -webkit-mask-image: url("../icons/exit-icon.svg");
}